.App_Main {
    /* background-image:url("https://wallpaperaccess.com/full/4893732.jpg");
    background-color: #282c34; */
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    
  }
.formlog{
   border: 3px solid beige;
   padding: 2em 3em;
   display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: #b3eef394;
  
  
}



.heading{
    font-size: 30px;
    color:rgb(64, 56, 56);
    text-align: center;
    font-weight: 600;
    /* text-decoration:underline; */


    background-color: #39cbd5;
}



.Labels{
    font-size: 30px;
    color:rgb(47, 28, 3);
    font-weight: 500;
    /* font-style: italic; */
   
}
.gap{
margin:5px;
}

.btn{
   
    background-color: #4591bd; /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;  
    cursor: pointer;
   
}

.btn:hover {
    background-color:#15517c;
    transition: 0.4s;
}

.btn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #cca4ef;
    transition: 0.4s;
}
.btm_txt{
    font-size: calc(3px + 1.5vmin);
    margin-top: 8px;
    color: rgb(239, 15, 15);
    text-align: center;
    font-weight: bold;
}
.btn_Link{
    color: #054280;
    font-size: calc(3px + 1.5vmin);
}

.input-icons i {
    position: fixed;
}
  
.input-field {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 15px;
}
.icon {
    padding: 5px;
    min-width: 10px;
    background-color: #39cbd5;
}

.style{
    max-width:400px;
    margin:auto
}

.keyset{
    display: flex;
    flex-direction: row;  
}

