.App {
  background-image:url("http://cdn.cnn.com/cnnnext/dam/assets/160502155618-terranea-vista-pool.jpg");
  background-color: #282c34;
  min-height: 100vh;
  opacity: 0.8;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}


